body {
  text-align: center;
  margin-top: 30px;
  font-family: "Dancing Script", cursive;
  background-color: #ffe4e1;
  color: #ff69b4;
  animation: fadeIn 2s ease-in-out;
  overflow: hidden;
  background-image: url('../assets/bg1.webp'); /* Big heart background */
  background-size: cover;
  background-position: center;
}

.container {
  position: relative;
  z-index: 1;
}

#activityquestion {
  font-size: 50px;
  margin-bottom: 30px;
  color: #ff1493;
  animation: bounce 2s infinite;
}

.activities-selection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.activity-item {
  display: inline-block;
  margin: 10px;
  vertical-align: top;
  color: #ff69b4;
  animation: fadeInUp 2s ease-in-out;
  animation-fill-mode: both;
}

.activity-item img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 5px solid #ff69b4;
  object-fit: cover;
  padding: 10px;
  transition: transform 0.3s;
}

.activity-item img:hover {
  transform: rotate(10deg);
}

.activity-item label {
  display: block;
  font-size: 20px;
  color: #ff1493;
}

.button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin: 10px;
  margin-bottom: 20px;
  background-color: #ffb6c1;
  color: #ff1493;
  border-radius: 12px;
  border: 2px solid #ffb6c1;
  box-shadow: 1px 1px 2px #ff69b4;
  transition: 0.3s;
  animation: fadeInUp 2s ease-in-out;
}

.button:hover {
  background-color: #ff69b4;
  color: #ffb6c1;
  border: 2px solid #ff69b4;
  box-shadow: 1px 1px 2px #ffb6c1;
}

.hearts {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.heart {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ff69b4;
  transform: rotate(45deg);
  animation: float 5s infinite;
}

.heart::before,
.heart::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ff69b4;
  border-radius: 50%;
}

.heart::before {
  top: -10px;
  left: 0;
}

.heart::after {
  top: 0;
  left: -10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes float {
  0% {
    transform: translateY(0) rotate(45deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-100vh) rotate(45deg);
    opacity: 0;
  }
}